#include <winresrc.h>

icon ICON "QuakeRay.ico"

1 VERSIONINFO
FILEVERSION 0,27,1,0
PRODUCTVERSION 0,27,1,0
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_APP
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "f1ames0ff"
            VALUE "FileDescription", "QuakeRay"
            VALUE "FileVersion", "0.27.1"
            VALUE "InternalName", "quakeray"
            VALUE "LegalCopyright", "Copyright (c) 2026 f1ames0ff; portions (c) id Software, QuakeSpasm, NVIDIA and others - see LICENSE.txt and AUTHORS.md"
            VALUE "OriginalFilename", "quakeray.exe"
            VALUE "ProductName", "QuakeRay"
            VALUE "ProductVersion", "0.27.1"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
